/*font links*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@400;500;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*common css start*/
:root{
	--black: #000000;
	--orange: #FF4F00;
	--skyblue: #007FFF;
	--bgs: #DAEDFF;

	--pop: "Poppins", sans-serif;
	--rob: "Roboto", sans-serif;
}
body{
	font-family: var(--pop);
	font-size: 16px;
	font-weight: 400;
	color: var(--black) ;

}
/*common css end*/

/*header start*/
header{
   padding: 15px 0;
   background-color:var(--bgs);
}
.cnav{}
.logo{}
.menu{}
.menu ul li a{
	padding: 0 20px !important;
	font-weight: 400;
	font-size: 16px;
	color: var(--black);
	transition: .33s linear;
}
.menu ul li a:hover{
	color: var(--orange);
}
.c_btn{
	/*width: 105px;
	height: 45px;*/
	background-color: var(--skyblue);
	border-radius: 33px;
	font-family: var(--rob);
	color: white;
	/*font-weight: 400;
	font-size: 16px;*/
	/*display: flex;
	align-items: center;
	justify-content: center;*/
}
.s_btn{
	margin-left: 10px;
padding: 12px 28px;
}
.c_btn:hover{
	background-color: var(--orange);
	color: white;
}
.c_btn:active{
	background-color: var(--orange) !important;
	color: white !important;
}
/*header end*/

/*banner start*/
.banner{
	background-color: var(--bgs);
	padding-bottom: 65px;
}
.b_text{}
.p1{
	color: var(--orange);
}
.h1{
	margin: 10px 37px 20px 0px;
	font-weight: 700;
	font-size: 48;
	color: var(--black);
	line-height: 60px;
}
.h1 span{
	color: var(--skyblue);
}
.p2{
	color: var(--black);
	line-height: 36px;
}
.b_link{
    margin: 15px 0 10px ;
	padding: 12px 30px;
}

.b_img{}
.b_img img{}
/*banner end*/

/*feature start*/
.feature{}
.c_p{
	padding-bottom: 100px;
}
.f_item{
	margin-top: 40px;
	background-color: var(--bgs);
	padding: 50px 0 50px;
	border-radius: 10px;
	transition: .33s linear;

}
.f_img{
	width: 75px;
	height: 85px;
}
.f_h2{
	margin: 20px 0 0;
	font-size: 24px;
	font-weight: 500;
	color: var(--black);

}
.f_p{}

.f_item:hover{
	background-color: white;
	box-shadow: 0px 20px 40px 0px #0000001A;
}
/*feature end*/

/*Booking start*/
.booking{}
.b_title{}
.c_h1{
	font-weight: 700;
	font-size: 36px;
}
/*book buy air ticket start*/
.bok_item{
	margin: 60px 0 0;
	padding: 25px 20px 30px;
	border-radius: 18px;
	box-shadow: 0px 10px 40px 0px #0000001A;
}
.bok_img{}
.bok_img img{
	border-radius: 18px;
}
.bok_h2{
	margin: 20px 0 5px;
	font-weight: 500;
	font-size: 24px;
	color: var(--black);
}
.bok_p{}
.bok_link{
	margin: 20px 0 35px;
	padding: 8px 28px;
}
.book:not(:last-child){
	margin-right: 6px;
}
.bok_icon{}
.bok_span{}
/*book buy air ticket end*/

/*Booking end*/

/*Services start*/
.service{
	padding-bottom: 100px;
}
/*Services end*/

/*Services testimony start*/
.testimony{
	padding-bottom: 100px;
}
.t_item{
    margin-top: 20px;
}

.t_img{}
.t_img img{
	width: 100%;
}
.t_text{}
.t_text p{}
/*Services testimony end*/

/*footer top start*/
.footer_top{
	padding: 55px 0 55px;
	background-color: #282531;
}
.ft_details{
	padding-right: 120px;
}
.ft_details p{
	color: #ffffff;
	line-height: 30px;
}
.ft_link{}
.ft_link h2{
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	line-height: 30px;
}
.ft_link ul li a{
	margin-bottom: 8px;
	display: block;
	color: #ffffff;
	text-decoration: none;
}
/*footer top end*/

/*Footer Bottom start*/
footer{
	padding: 20px 0 30px;
	background-color: #282531;
}
.f-address{
	color: white;
	font-size: 25px;
}
.f-additional{
	color: white;
	font-size: 19px;
	margin-top: 12px;
}
footer p{
	color: white;
	line-height: 30px;
}
footer p a{
	color: white;
}
.text-de{
	text-decoration: none;
}
/*Footer Bottom end*/